@font-face{
	font-family: "HamburgerHeaven";
	src: url("../fonts/hamburgerheaven.eot");
	src: url("../fonts/hamburgerheaven.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/hamburgerheaven.ttf") format("truetype"),
		 url("../fonts/hamburgerheaven.svg#hamburgerheavenregular") format("svg"),
		 url("../fonts/hamburgerheaven.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
*{
	border: 0;
	list-style-type: none;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
}
body, html{
	font-family: Arial;
	font-size: 100%;
	min-height: 100%;
	position: absolute;
	text-align: center;
	width: 100%;
}
header{
	background-color: #315D29;
	border-bottom: 20px solid #F4E1A7;
	color: #fff;
	font-family: "HamburgerHeaven", Arial;
	padding: 1em 0;
}
footer{
	background-color: #F4E1A7;
	border-top: 20px solid rgba(75,75,75,0.8);
	bottom: 0;
	color: #222;
	font-size: .8em;
	padding: 1em 0;
	position: absolute;
	width: 100%;
}
figure img, figure figcaption{
	display: inline-block;
}
figure img{
	margin-right: 1em;
}
form{
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-shadow: 0 0 .5em #222;
	-webkit-box-sizing: border-box;
	background-color: #222;
	border-radius: 0 0 1em 1em;
	box-shadow: 0 0 .5em #222;
	box-sizing: border-box;
	color: #fff;
	margin: 0 auto;
	padding: .5em;
	width: 80%;
}
form input[type="button"]{
	background-color: #F4E1A7;
	border-radius: .5em;
	box-shadow: 0 0 .5em #fff;
	color: #222;
	cursor: pointer;
	font-weight: bold;
	padding: .5em;
	visibility: hidden;
}
form div{
	display: inline-block;
	margin-right: -3px;
	text-align: left;
	width: 20%;
}
form div input[type="text"], form div select{
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: .5em;
	box-sizing: border-box;
	padding: .3em;
	width: 90%;
}
form div input[type="radio"]{
	margin-right: .5em;
}
form div label{
	display: block;
	font-size: .8em;
	font-weight: bold;
	margin-bottom: .5em;
	text-transform: uppercase;
}
section{
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-shadow: 0 0 .5em #222;
	-webkit-box-sizing: border-box;
	border-radius: 1em;
	box-shadow: 0 0 .5em #222;
	box-sizing: border-box;
	display: none;
	font-size: .9em;
	margin: 2em auto 9em auto;
	padding: .5em;
	width: 80%;
}
table input[type="text"]{
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #F4E1A7;
	border-radius: .2em;
	box-sizing: border-box;
	font-size: 1.1em;
	font-weight: bold;
	padding: .2em;
	text-align: center;
	width: 100%;
}
table{
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
}

table td:first-child{
	color: #222;
	font-size: .8em;
	font-weight: bold;
	text-align: left;
	width: 30%;
}
table tr:first-child{
	color: red;
	font-size: .8em;
	text-transform: uppercase;
}
table tr:first-child th{
	background-color: #315D29;
	color: #fff;
	padding: 1em 0;
}
